.LocalStatus__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn {
    cursor: pointer;
  }

  .LocalStatus__nameInputContainer {
    margin-bottom: 50px;
    width: 360px;

    .form-control {
      filter: invert(100%);
    }
  }
}
