.GlobalStatus__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .GlobalStatus__image {
    filter: grayscale(100%);

    &.GlobalStatus__image--active {
      filter: none;
    }
  }

  .GlobalStatus__address {
    color: #ffffffa6;
    font-size: 40px;
    position: absolute;
    top: 10px;
  }
}
